.content-section {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 15vw 20px 15vw;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .content-section {
        flex-direction: column;
        height: auto !important;
        min-height: 100vh;
    }
}

@media only screen and (max-width: 1024px) {
    .content-section {
        flex-direction: column;
    }
}