.heading-title {
    color: #ffffff;
    font-size:calc(24px + 1vw);
}

@media only screen and (min-width: 768px) {
    .heading-title::after, .heading-title::before{
        background: #ffffff;
        content: " ";
        display: inline-block;
        height: 2px;
        margin: 0 10px;
        width: calc(24px + 3vw);
        vertical-align: middle;
    }
}

.heading {
    padding: 100px 50px 0px 50px;
    text-align: center;
}