.nav-bar {
    display: flex;
    align-items: center;
    padding: 20px 15vw 20px 15vw;
    margin-bottom: -120px;
    z-index: 1;
    position: relative;
  }

.nav-logo {
    width: 80px;
    height: 80px;
}

.nav-logo:hover {
    cursor: pointer;
}

.nav-link {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px 0 10px;
    text-decoration: none;
}

.nav-link:hover {
    color: #66fcf1;
}

.nav-links {
    margin: 0 0 0 auto;
    list-style: none;
    display: flex;
}