.slide-wrapper {
  display: flex;
  flex-direction: column;
  position:relative;
  align-items: center;
}

.slide-wrapper-location-marker {
  position: absolute;
  top: 25%;
  align-items: center;
}

.slide-wrapper-metservice{
  position: absolute;
  top: 10%;
  right: 10%;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .slide-wrapper-metservice{
    right: auto !important;
    bottom: 20vh !important;
    top: auto !important;
  }
}