.stat-text {
  color: #ffffff;
  margin: 20px;
}

.stat-component {
  display: flex;
  padding: 10px;
  height: 80px;
}

.all-stats {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-stats, .right-stats {
  margin: 2vw;
  width: 200px;
  align-items: flex-start;
}

.stat-level-indicator {
  width: 50px;
  height: 50px;
}

.circular-track {
  stroke-width: 14px;
}

.circular-progress {
  stroke-width: 12px;
}

@media only screen and (max-width: 768px) {
  .all-stats {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .stat-component {
    height: 60px !important;
  }

  .left-stats, .right-stats {
    width: auto;
    margin: 0 !important;
  }
}