@media only screen and (max-width: 1024px) {
  .image {
    width: 60vw !important;
    height: auto !important;
    max-height: 40vh !important;
  }

  .text {
    width: 60vw !important;
    height: auto !important;
  }

  .image-under {
    width: 60vw !important;
    height: auto !important;
    max-height: 40vh !important;
  }

  .image-over {
    width: 60vw !important;
    height: auto !important;
  }

  .location-marker-image {
    width: 100px !important;
    height: 100px !important;
  }
}

.image {
  width: 30vw;
  max-height: 400px;
  object-fit: contain;
}

.text {
  color: #C5C6C7;
  width: 30vw;
  max-height: 400px;
  margin: auto;
  display: flex;
  align-items: center;
}

.image-under {
  width: 30vw;
  max-height: 400px;
  object-fit: contain;
}

.image-over {
  width: 30vw;
  max-height: 400px;
  object-fit: contain;
  position: absolute;
  bottom:-40px;
}

.location-marker-image {
  width: 100px;
  height: 100px;
}