.hero-banner {
    width: 100%;
}

.banner-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-avatar {
    width: 200px;
    height: 200px;
}

.banner-intro {
    color: #ffffff;
    font-size: 32px;
}

.banner-title {
    color: #ffffff;
    font-size:calc(24px + 3vw);
}

.banner-title::after, .banner-title::before{
    background: #ffffff;
    content: " ";
    display: inline-block;
    height: 2px;
    margin: 0 10px;
    width: calc(24px + 3vw);
    vertical-align: middle;
}

.banner-skip{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 4vh;
    padding: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
}

.banner-skip:hover{
    cursor: pointer;
}

.banner-skip:active {
    outline: none;
    border: none;
}