.footer {
    text-align: center;
    background-color: #1f2833;
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
}

.footer em {
    color: #C5C6C7;
}

.contact-title {
    color: #C5C6C7;
    font-weight: bold;
    font-size: 32px;
    padding: 15px 15px 15px 15px;
        margin-bottom:10px;
}